/* Estilos para el Navbar auxiliar de cada página */

.nav-aux-article {
	background-color: #fff;
	-webkit-box-shadow: -7px -5px 5px -6px #9a9a9a;
	-moz-box-shadow: -7px -5px 5px -6px #9a9a9a;
	box-shadow: -7px -5px 5px -6px #9a9a9a;
	
	a.title {
		color: $cea-1;
		font-weight: 500;
	}
	
	ul.navbar-nav {
		
		li {
			font-size: $font-peq1;			
			
			a.nav-link {
				
				color: $cbg-7;
				
				&:active, &.active {
					color: $cea-1;
				}
				&:hover {
					color: $cea-3;
				}
			}
			
		}
		
		button {
			font-size: $font-peq1;
		}
		
	}
	
}