/* Estilos para el Navbar principal */
#nav-first {
	font-size:  $font-peq1;
	background-color: $cbg-5;
	border-top-color: $cea-1;
		
	.nav-f-item {
		padding-left: 1.2rem;
	}
		
	div.container {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.box-nav-first {
		background-color: $cbg-5;
		padding: 0;
		height: 3rem;
	}
		
	.nav-link {
		color: #fff;
	}
	
	.dropdown-item {
		font-size: $font-peq1;
	}
	
	.dropdown-header {
		color: $cbg-6;
	}
	
	.isotipo-nav {
		position: relative;
		top: -20px;
		margin-right: 3rem;
		
		img.box-isotipo {
			vertical-align: middle;
			border: 5px solid black;
			border-radius: 100px 100px 0 0;
			background-color: black;
		}
	}
	
	li#menu-trat-residuos {
		.dropdown-menu {
			left: -2%;
		}
	}
	
	li#menu-esp-pub {
		.dropdown-menu {
			left: -2%;
		}
	}
		
	.dropdown-menu {
		top: 130%;
		left: -28%;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;
		padding-top: 20px; 
		background-color: #000; 
		background-clip: padding-box;
		border-top: 1.2px solid #59a0d3; 
		border-radius: 0px 0px 5px 5px;
		box-shadow: -2px 3px 6px -2px rgba(0, 0, 0, 0.3);
		
		.espacio-item {
			margin-top: 1rem;
		}
		
		.sub-item {			
			.dropdown-item {
				margin-left: 1rem;
			}
			.item-ver-todos {
				color: #a3d5f9;
				font-weight: 600;
			}
		}
		
		.dropdown-item {
			color: #fff;
			
			&:hover {
				background-color: #000;
				color: $cea-1;
			}
			&:active {
				background-color: #000;
			}
		}
		
	}
		
}


#nav-first.nav-productos {
	
	.nav-f-item, .nav-item {
		padding-left: 2rem;
	}	
	
	.isotipo-nav {
		position: relative;
		top: -20px;
		margin-right: 2rem;		
	}
		
}




#nav-first-mobile {
	height: 66px;
	background-color: $cbg-5;
	border-bottom: solid 3px $cea-1;	
	padding-left: 0px;
    padding-right: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
	z-index: 1;
		
	.navbar-brand {
		font-size: $font-peq1;
		padding-top: 0;
	}
	
	.isotipo-nav {
		position: relative;
		bottom: -10px;
		margin-right: 0;
		left: 6%;
		z-index: 3;
		
		img.box-isotipo {
			width: 81px;
			height: 72px;
			vertical-align: middle;
			border: 9px solid black;
			border-radius: 0 0 100px 100px;
			box-shadow: 0px 7.5px 0px -4px $cea-1;
			background-color: black;
		}
	}
	
	.box-item-mobile {
		background-color: $cbg-5;
	}
	
	ul.navbar-nav {
		padding-left: 2.5rem;
	}
	
	.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
		background-color: #000;
    	color: #fff;
		position: relative;
		bottom: -2px;
		width: 100vw;
		z-index: 2;
		
		ul.navbar-nav {
			padding-top: 20px;
			border-bottom-width: 20px;
			padding-bottom: 20px;
			
			a.nav-link {
				padding-top: 15px;
				padding-bottom: 15px;
				margin-top: 5px;
				margin-bottom: 5px;
				color: #fff;
			}
		}
	}
	
}

/*==================================================
=    Bootstrap 4 Media Queries  Navbar principal   =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : $screen-xs) {
		
		#nav-first-mobile {
			height: 80px;
			background-color: $cbg-5;
			
			.navbar-toggler {
				padding-left: 15px;
			}

			.navbar-brand {
				font-size: 0.75rem;
				margin-right: 0px;
				padding-right: 15px;
			}

			.isotipo-nav {
				position: relative;
				bottom: -20.5px;
				padding-right: 0;
				margin-right: 0;
				left: 6%;
				

				img.box-isotipo {
					width: 81px;
					height: 72px;
					vertical-align: middle;
					border: 9px solid black;
					border-radius: 0 0 100px 100px;
					box-shadow: 0px 7.5px 0px -4px $cea-1;
					background-color: black;
				}
			}

		}
		
    }


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : $screen-sm) {
		
		#nav-first-mobile {
			height: 80px;
			background-color: $cbg-5;
			
			.navbar-toggler {
				padding-left: 15px;
			}

			.navbar-brand {
				font-size: $font-peq1;
				margin-right: 0px;
				padding-right: 15px;
			}

			.isotipo-nav {
				position: relative;
				bottom: -20.5px;
				margin-right: 0;
				left: 6%;
				

				img.box-isotipo {
					width: 81px;
					height: 72px;
					vertical-align: middle;
					border: 9px solid black;
					border-radius: 0 0 100px 100px;
					box-shadow: 0px 7.5px 0px -4px $cea-1;
					background-color: black;
				}
			}

		}
	   
    }


    /* Small Devices, Tablets */
    @media only screen and (min-width : $screen-md) {
		
		#nav-first {
			font-size:  $font-min0;
			
			.nav-f-item {
				padding-left: 0.5rem;
			}
			
			.dropdown-item {
				font-size: $font-min0;
			}
			
			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 1rem;

				img.box-isotipo {
					vertical-align: middle;
					border: 5px solid black;
					border-radius: 100px 100px 0 0;
					background-color: black;
				}
			}
			
			img.box-isotipo {
				height: 45px;
			}
			
			li#menu-trat-residuos {
				.dropdown-menu {
					left: -2%;
				}
			}
			
			li#menu-esp-pub {
				.dropdown-menu {
					left: -2%;
				}
			}
			
			.dropdown-menu {
				top: 116%;
				left: -28%;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 20px;
				padding-top: 20px; 
				background-color: #000; 
				background-clip: padding-box;
				border-top: 1.2px solid #59a0d3; 
				border-radius: 0px 0px 5px 5px;

				.dropdown-item {
					color: #fff;

					&:hover {
						background-color: #000;
						color: $cea-1;
					}
					
					&:active {
						background-color: #000;
					}
				}

			}

		}
		
		#nav-first.nav-productos {
	
			.nav-f-item, .nav-item {
				padding-left: 0.3rem;
			}

			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 1rem;		
			}	
	
		}
		
		#nav-first-mobile {
			height: 80px;
			background-color: $cbg-5;
			
			.navbar-toggler {
				padding-left: 15px;
			}

			.navbar-brand {
				font-size: $font-peq1;
				margin-right: 0px;
				padding-right: 15px;
			}

			.isotipo-nav {
				position: relative;
				bottom: -20.5px;
				margin-right: 0;
				left: 6%;
				

				img.box-isotipo {
					width: 81px;
					height: 72px;
					vertical-align: middle;
					border: 9px solid black;
					border-radius: 0 0 100px 100px;
					box-shadow: 0px 7.5px 0px -4px $cea-1;
					background-color: black;
				}
			}

		}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : $screen-lg) {
		#nav-first {
			font-size:  $font-min0;
			
			.nav-f-item {
				padding-left: 0.8rem;
			}	
			
			.dropdown-item {
				font-size: $font-min0;
			}
			
			img.box-isotipo {
				height: 60px;
			}
			
			li#menu-trat-residuos {
				.dropdown-menu {
					left: -2%;
				}
			}
			
			li#menu-esp-pub {
				.dropdown-menu {
					left: -2%;
				}
			}
					
			.dropdown-menu {
				top: 114%;
				left: -28%;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 20px;
				padding-top: 20px; 
				background-color: #000; 
				background-clip: padding-box;
				border-top: 1.2px solid #59a0d3; 
				border-radius: 0px 0px 5px 5px;

				.dropdown-item {
					color: #fff;

					&:hover {
						background-color: #000;
						color: $cea-1;
					}
					
					&:active {
						background-color: #000;
					}
				}

			}

		}
		
		#nav-first.nav-productos {
	
			.nav-f-item, .nav-item {
				padding-left: 2.3rem;
			}

			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 2rem;		
			}	
	
		}
	
	}    


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : $screen-xl) {
	
		#nav-first {
			font-size:  $font-peq1;
			
			.nav-f-item {
				padding-left: 1.3rem;
			}	

			.dropdown-item {
				font-size: $font-peq1;
			}
			
			img.box-isotipo {
				width: 81px;
				height: 60px;
			}
			
			li#menu-trat-residuos {
				.dropdown-menu {
					left: -2%;
				}
			}
						
			.dropdown-menu {
				top: 114%;
				left: -28%;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 20px;
				padding-top: 20px; 
				background-color: #000; 
				background-clip: padding-box;
				border-top: 1.2px solid #59a0d3; 
				border-radius: 0px 0px 5px 5px;

				.dropdown-item {
					color: #fff;

					&:hover {
						background-color: #000;
						color: $cea-1;
					}
					
					&:active {
						background-color: #000;
					}
				}
			}
				
		}
		
		#nav-first.nav-productos {
	
			.nav-f-item, .nav-item {
				padding-left: 2.8rem;
			}

			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 2rem;		
			}	
	
		}


		
    }


