/* Estilos para el Navbar principal */
#nav-first {
	font-size:  $font-peq1;
	background-color: $cbg-5;
	
	.box-nav-first {
		background-color: $cbg-5;
	}
	
	.nav-link {
		color: #fff;
	}
	
	.dropdown-item {
		font-size: $font-peq1;
	}
	
}

