/* Estilos para el Navbar principal */
#nav-first {
	font-size:  $font-peq1;
	background-color: $cbg-5;
	border-top-color: $cea-1;
	
	.nav-f-item {
		padding-left: 1rem;
	}
	
	div.container {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.box-nav-first {
		background-color: $cbg-5;
		padding: 0;
		height: 3.7rem;
	}
		
	.nav-link {
		color: #fff;
	}
	
	.dropdown-item {
		font-size: $font-peq1;
	}
	
	.isotipo-nav {
		position: relative;
		top: -20px;
		margin-right: 3rem;
		
		img.box-isotipo {
			vertical-align: middle;
			border: 5px solid black;
			border-radius: 100px 100px 0 0;
			background-color: black;
		}
	}
	
}

#nav-first-mobile {
	height: 66px;
	background-color: $cbg-5;
	border: solid 3px;
	border-bottom-color: $cea-1;
	
	.navbar-brand {
		font-size: $font-peq1;
	}
	
	.isotipo-nav {
		position: relative;
		bottom: -10px;
		margin-right: 0;
		left: 6%;
		
		img.box-isotipo {
			width: 81px;
			height: 72px;
			vertical-align: middle;
			border: 9px solid black;
			border-radius: 0 0 100px 100px;
			box-shadow: 0px 7.5px 0px -4px $cea-1;
			background-color: black;
		}
	}
	
}

/*==================================================
=    Bootstrap 4 Media Queries  Navbar principal   =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : $screen-xs) {
		
		#nav-first-mobile {
			height: 80px;
			background-color: $cbg-5;
			border: solid 3px;
			border-bottom-color: $cea-1;

			.navbar-brand {
				font-size: $font-peq1;
			}

			.isotipo-nav {
				position: relative;
				bottom: -12px;
				margin-right: 0;
				left: 6%;

				img.box-isotipo {
					width: 81px;
					height: 72px;
					vertical-align: middle;
					border: 9px solid black;
					border-radius: 0 0 100px 100px;
					box-shadow: 0px 7.5px 0px -4px $cea-1;
					background-color: black;
				}
			}

		}
		
    }


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : $screen-sm) {
		
		#nav-first-mobile {
			height: 80px;
			background-color: $cbg-5;
			border: solid 3px;
			border-bottom-color: $cea-1;			

			.navbar-brand {
				font-size: $font-peq1;
			}

			.isotipo-nav {
				position: relative;
				bottom: -12px;
				margin-right: 0;
				left: 6%;

				img.box-isotipo {
					width: 81px;
					height: 72px;
					vertical-align: middle;
					border: 9px solid black;
					border-radius: 0 0 100px 100px;
					box-shadow: 0px 7.5px 0px -4px $cea-1;
					background-color: black;
				}
			}

		}
	   
    }


    /* Small Devices, Tablets */
    @media only screen and (min-width : $screen-md) {
		
		#nav-first {
			font-size:  $font-min0;
			
			.nav-f-item {
				padding-left: 0.6rem;
			}

			.dropdown-item {
				font-size: $font-min0;
			}
			
			img.box-isotipo {
				height: 55px;
			}
			
			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 1rem;				
			}

		}
		
		#nav-first-mobile {
			height: 66px;
			background-color: $cbg-5;
			border: solid 3px;
			border-bottom-color: $cea-1;

			.navbar-brand {
				font-size: $font-peq1;
			}

			.isotipo-nav {
				position: relative;
				bottom: -10px;
				margin-right: 0;
				left: 6%;

				img.box-isotipo {
					width: 81px;
					height: 72px;
					vertical-align: middle;
					border: 9px solid black;
					border-radius: 0 0 100px 100px;
					background-color: black;
				}
			}

		}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : $screen-lg) {
		#nav-first {
			font-size:  $font-min0;
			
			.nav-f-item {
				padding-left: 0.6rem;
			}

			.dropdown-item {
				font-size: $font-min0;
			}
			
			img.box-isotipo {
				height: 65px;
			}
			
			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 3rem;				
			}

		}
	
	}    


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : $screen-xl) {
	
		#nav-first {
			font-size:  $font-peq1;

			.nav-f-item {
				padding-left: 1rem;
			}
			
			.dropdown-item {
				font-size: $font-peq1;
			}
			
			img.box-isotipo {
				width: 81px;
				height: 72px;
			}
			
			.isotipo-nav {
				position: relative;
				top: -20px;
				margin-right: 3rem;				
			}
				
		}

		
    }


