/* Estilos base */

/* Indice: 

	1) Textos
	2) Separadores

*/

/* 1) Textos */
	body {
		font-family: $fuente1;
		
		a {
			text-decoration: none;
		}
	}
	h1 {
		font-family: $fuente1;
		font-size: $font-big2;
	}
	h2 {
		font-family: $fuente1;
		font-size: $font-big1;
	}
	p {
		font-family: $fuente1;
		font-size: $font-peq2;
	}
	p.big {
		font-family: $fuente1;
		font-size: $font-big1;
	}
	p.biggest {
		font-family: $fuente1;
		font-size: $font-big3;
	}
	p.title {
		font-family: $fuente1;
		font-size: $font-med1;
	}
	p.sub-title {
		font-family: $fuente1;
		font-size: $font-peq2;
		font-weight: 600;
	}
	p.min {
		font-family: $fuente1;
		font-size: $font-peq1;
	}
	p.num {
		font-family: $fuente2;
	}
	
	h2.title-section {		
		padding-bottom: 2.5rem;
		border-bottom: 1px solid;
	}


