/* Estilos para el Footer */
footer {
	&.container-fluid {
		padding: 0;
	}
	
	a {
		text-decoration: none;
		color: #fff;
		&:hover {
			text-decoration: none;
			color: $cea-1;
			}
		}

	#footer-top {
		color: #fff;
		font-size: $font-peq1;
		padding-top: 4rem;
		padding-bottom: 4rem;
		background-color: $cbg-4;

		p {
			font-size: $font-peq1;		
			&.num {
				font-size: $font-peq2;
			}
			&.title {
				font-size: $font-med1;
				color: $cea-1;
				font-weight: bold;
				margin-bottom: 1.5rem;
			}
		}
	
		
		ul {
			padding-left: 0px;		
			li {
				text-decoration: none;
				list-style-type: none;
				line-height: 1.9;
			}
		}

		.foot-t-icon {
			margin-right: 1rem;
		}
	}
	
	#footer-sub {
		background-color: $cbg-5;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		color: #fff;
		
		img.box-isotipo {
			width: 40px;		
		}
	}
	
}
