/* Estilos para el Footer */


footer {
	&.container-fluid {
		padding: 0;
	}
	
	a {
		text-decoration: none;
		color: #fff;
		&:hover {
			text-decoration: none;
			color: $cea-1;
			}
		}
	
	/* Footer Desktop */
	&#footer-desktop {
		
		.footer-top {
			color: #fff;
			font-size: $font-peq1;
			padding-top: 4rem;
			padding-bottom: 4rem;
			background-color: $cbg-4;

			p {
				font-size: $font-peq1;		
				&.num {
					font-size: $font-peq2;
				}
				&.title {
					font-size: $font-med1;
					color: $cea-1;
					font-weight: bold;
					margin-bottom: 1.5rem;
				}
			}


			ul {
				padding-left: 0px;		
				li {
					text-decoration: none;
					list-style-type: none;
					line-height: 1.9;
				}
			}

			.foot-t-icon {
				margin-right: 1rem;
			}
	}
	
		.footer-sub {
			background-color: $cbg-5;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			color: #fff;

			img.box-isotipo {
				width: 40px;		
			}

			.box-sub-f-link {
				padding-top: 0.6rem;
				padding-right: 4rem;
			}

		}
		
	}
	
	
	/* Footer Mobile */
	
	&#footer-mobile {
		
		.footer-top {
			color: #fff;
			font-size: $font-peq1;
			padding-top: 4rem;
			padding-bottom: 4rem;
			background-color: $cbg-4;
		}
		
	}
	
	
}



/* -- Media Query -- */

/*==================================================
=            Bootstrap 4 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : $screen-xs) {		
		
    }


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : $screen-sm) {
		

	   
    }


    /* Small Devices, Tablets */
    @media only screen and (min-width : $screen-md) {
		

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : $screen-lg) {
		
		footer {
			
			&#footer-desktop {
				
				.footer-top {
				
					p {

						&.num {
							font-size: $font-peq1;
						}					
					}

				}

				.footer-sub {

					.box-sub-f-link {
						padding-top: 0.6rem;
						padding-right: 0; //*
					}

				}
				
			}	

		}
		
	
	}    


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : $screen-xl) {
		
		footer {
			
			&#footer-desktop {
				.footer-top {
				
					p {						
						&.num {
							font-size: $font-peq2;
						}					
					}
				
				}

				.footer-sub {

					.box-sub-f-link {
						padding-right: 4rem;
					}

				}				
			}

		}
	
		
    }

