/* Height */
.height-1 {height: 1rem;}
.height-1-5 {height: 1.5rem;}
.height-2 {height: 2rem;}
.height-2-5 {height: 2.5rem;}
.height-3 {height: 3rem;}
.height-3-5 {height: 3.5rem;}
.height-4 {height: 4rem;}
.height-4-5 {height: 4.5rem;}
.height-5 {height: 5rem;}
.height-5-5 {height: 5.5rem;}
.height-6 {height: 6rem;}
.height-6-5 {height: 6.5rem;}
.height-7 {height: 7rem;}
.height-7-5 {height: 7.5rem;}
.height-8 {height: 8rem;}
.height-8-5 {height: 8.5rem;}
.height-9 {height: 9rem;}
.height-9-5 {height: 9.5rem;}
.height-10 {height: 10rem;}
.height-10-5 {height: 10.5rem;}
.height-11 {height: 11rem;}
.height-11-5 {height: 11.5rem;}
.height-12 {height: 12rem;}
.height-12-5 {height: 12.5rem;}
.height-13 {height: 13rem;}
.height-13-5 {height: 13.5rem;}
.height-14 {height: 14rem;}
.height-14-5 {height: 14.5rem;}
.height-15 {height: 15rem;}
.height-15-5 {height: 15.5rem;}
.height-16 {height: 16rem;}
.height-16-5 {height: 16.5rem;}
.height-17 {height: 17rem;}
.height-17-5 {height: 17.5rem;}
.height-18 {height: 18rem;}
.height-18-5 {height: 18.5rem;}
.height-19 {height: 19rem;}
.height-19-5 {height: 19.5rem;}
.height-20 {height: 20rem;}
.height-20-5 {height: 20.5rem;}
.height-30 {height: 30rem;}
.height-30-5 {height: 30.5rem;}
.height-40 {height: 40rem;}
.height-40-5 {height: 40.5rem;}
.height-50 {height: 50rem;}
.height-50-5 {height: 50.5rem;}
.height-60 {height: 60rem;}
.height-60-5 {height: 60.5rem;}
.height-70 {height: 70rem;}
.height-70-5 {height: 70.5rem;}
.height-80 {height: 80rem;}
.height-80-5 {height: 80.5rem;}
.height-90 {height: 90rem;}
.height-90-5 {height: 90.5rem;}
.height-100 {height: 100rem;}

/* height en % */
.hg-1o {height: 1%;}
.hg-2o {height: 2%;}
.hg-3o {height: 3%;}
.hg-4o {height: 4%;}
.hg-5o {height: 5%;}
.hg-6o {height: 6%;}
.hg-7o {height: 7%;}
.hg-8o {height: 8%;}
.hg-9o {height: 9%;}
.hg-10o {height: 10%;}
.hg-11o {height: 11%;}
.hg-12o {height: 12%;}
.hg-13o {height: 13%;}
.hg-14o {height: 14%;}
.hg-15o {height: 15%;}
.hg-16o {height: 16%;}
.hg-17o {height: 17%;}
.hg-18o {height: 18%;}
.hg-19o {height: 19%;}
.hg-20o {height: 20%;}
.hg-21o {height: 21%;}
.hg-22o {height: 22%;}
.hg-23o {height: 23%;}
.hg-24o {height: 24%;}
.hg-25o {height: 25%;}
.hg-27o {height: 27%;}
.hg-28o {height: 28%;}
.hg-29o {height: 29%;}
.hg-20o {height: 20%;}
.hg-21o {height: 21%;}
.hg-22o {height: 22%;}
.hg-23o {height: 23%;}
.hg-24o {height: 24%;}
.hg-25o {height: 25%;}
.hg-27o {height: 27%;}
.hg-28o {height: 28%;}
.hg-29o {height: 29%;}
.hg-30o {height: 30%;}
.hg-31o {height: 31%;}
.hg-32o {height: 22%;}
.hg-33o {height: 33%;}
.hg-34o {height: 34%;}
.hg-35o {height: 35%;}
.hg-37o {height: 37%;}
.hg-38o {height: 38%;}
.hg-39o {height: 39%;}
.hg-40o {height: 40%;}
.hg-41o {height: 41%;}
.hg-42o {height: 42%;}
.hg-43o {height: 43%;}
.hg-44o {height: 44%;}
.hg-45o {height: 45%;}
.hg-47o {height: 47%;}
.hg-48o {height: 48%;}
.hg-49o {height: 49%;}
.hg-50o {height: 50%;}
.hg-51o {height: 51%;}
.hg-52o {height: 52%;}
.hg-53o {height: 53%;}
.hg-54o {height: 54%;}
.hg-55o {height: 55%;}
.hg-57o {height: 57%;}
.hg-58o {height: 58%;}
.hg-59o {height: 59%;}
.hg-60o {height: 60%;}
.hg-61o {height: 61%;}
.hg-62o {height: 62%;}
.hg-63o {height: 63%;}
.hg-64o {height: 64%;}
.hg-65o {height: 65%;}
.hg-67o {height: 67%;}
.hg-68o {height: 68%;}
.hg-69o {height: 69%;}
.hg-70o {height: 70%;}
.hg-71o {height: 71%;}
.hg-72o {height: 72%;}
.hg-73o {height: 73%;}
.hg-74o {height: 74%;}
.hg-75o {height: 75%;}
.hg-77o {height: 77%;}
.hg-78o {height: 78%;}
.hg-79o {height: 79%;}
.hg-80o {height: 80%;}
.hg-81o {height: 81%;}
.hg-82o {height: 82%;}
.hg-83o {height: 83%;}
.hg-84o {height: 84%;}
.hg-85o {height: 85%;}
.hg-87o {height: 87%;}
.hg-88o {height: 88%;}
.hg-89o {height: 89%;}
.hg-90o {height: 90%;}
.hg-91o {height: 91%;}
.hg-92o {height: 92%;}
.hg-93o {height: 93%;}
.hg-94o {height: 94%;}
.hg-95o {height: 95%;}
.hg-97o {height: 97%;}
.hg-98o {height: 98%;}
.hg-99o {height: 99%;}
.hg-100o {height: 100%;}