/* Padding lados iguales */
.pd-0 {padding: 0;}
.pd-05 {padding: 0.5rem;}
.pd-1 {padding: 1rem;}
.pd-1-5 {padding: 1.5rem;}
.pd-2 {padding: 2rem;}
.pd-2-5 {padding: 2.5rem;}
.pd-3 {padding: 3rem;}
.pd-3-5 {padding: 3.5rem;}
.pd-4 {padding: 4rem;}
.pd-4-5 {padding: 4.5rem;}
.pd-5 {padding: 5rem;}
.pd-5-5 {padding: 5.5rem;}
.pd-6 {padding: 6rem;}
.pd-6-5 {padding: 6.5rem;}
.pd-7 {padding: 7rem;}
.pd-7-5 {padding: 7.5rem;}
.pd-8 {padding: 8rem;}
.pd-8-5 {padding: 8.5rem;}
.pd-9 {padding: 9rem;}
.pd-9-5 {padding: 9.5rem;}
.pd-10 {padding: 10rem;}
.pd-10-5 {padding: 10.5rem;}
.pd-11 {padding: 11rem;}
.pd-11-5 {padding: 11.5rem;}
.pd-12 {padding: 12rem;}
.pd-12-5 {padding: 12.5rem;}
.pd-13 {padding: 13rem;}
.pd-13-5 {padding: 13.5rem;}
.pd-14 {padding: 14rem;}
.pd-14-5 {padding: 14.5rem;}
.pd-15 {padding: 15rem;}
.pd-15-5 {padding: 15.5rem;}
.pd-16 {padding: 16rem;}
.pd-16-5 {padding: 16.5rem;}
.pd-17 {padding: 17rem;}
.pd-17-5 {padding: 17.5rem;}
.pd-18 {padding: 18rem;}
.pd-18-5 {padding: 18.5rem;}
.pd-19 {padding: 19rem;}
.pd-19-5 {padding: 19.5rem;}
.pd-20 {padding: 20rem;}
.pd-20-5 {padding: 20.5rem;}
.pd-30 {padding: 30rem;}
.pd-30-5 {padding: 30.5rem;}
.pd-40 {padding: 40rem;}
.pd-40-5 {padding: 40.5rem;}
.pd-50 {padding: 50rem;}
.pd-50-5 {padding: 50.5rem;}
.pd-60 {padding: 60rem;}
.pd-60-5 {padding: 60.5rem;}
.pd-70 {padding: 70rem;}
.pd-70-5 {padding: 70.5rem;}
.pd-80 {padding: 80rem;}
.pd-80-5 {padding: 80.5rem;}
.pd-90 {padding: 90rem;}
.pd-90-5 {padding: 90.5rem;}
.pd-100 {padding: 100rem;}

/* Padding Izquierdo */
.pd-0-left {padding-left: 0;}
.pd-05-left {padding-left: 0.5rem;}
.pd-1-left {padding-left: 1rem;}
.pd-2-left {padding-left: 2rem;}
.pd-1-5-left {padding-left: 1.5rem;}
.pd-2-5-left {padding-left: 2.5rem;}
.pd-3-left {padding-left: 3rem;}
.pd-3-5-left {padding-left: 3.5rem;}
.pd-4-left {padding-left: 4rem;}
.pd-4-5-left {padding-left: 4.5rem;}
.pd-5-left {padding-left: 5rem;}
.pd-5-5-left {padding-left: 5.5rem;}
.pd-6-left {padding-left: 6rem;}
.pd-6-5-left {padding-left: 6.5rem;}
.pd-7-left {padding-left: 7rem;}
.pd-7-5-left {padding-left: 7.5rem;}
.pd-8-left {padding-left: 8rem;}
.pd-8-5-left {padding-left: 8.5rem;}
.pd-9-left {padding-left: 9rem;}
.pd-9-5-left {padding-left: 9.5rem;}
.pd-10-left {padding-left: 10rem;}
.pd-10-5-left {padding-left: 10.5rem;}
.pd-11-left {padding-left: 11rem;}
.pd-11-5-left {padding-left: 11.5rem;}
.pd-12-left {padding-left: 12rem;}
.pd-12-5-left {padding-left: 12.5rem;}
.pd-13-left {padding-left: 13rem;}
.pd-13-5-left {padding-left: 13.5rem;}
.pd-14-left {padding-left: 14rem;}
.pd-14-5-left {padding-left: 14.5rem;}
.pd-15-left {padding-left: 15rem;}
.pd-15-5-left {padding-left: 15.5rem;}
.pd-16-left {padding-left: 16rem;}
.pd-16-5-left {padding-left: 16.5rem;}
.pd-17-left {padding-left: 17rem;}
.pd-17-5-left {padding-left: 17.5rem;}
.pd-18-left {padding-left: 18rem;}
.pd-18-5-left {padding-left: 18.5rem;}
.pd-19-left {padding-left: 19rem;}
.pd-19-5-left {padding-left: 19.5rem;}
.pd-20-left {padding-left: 20rem;}
.pd-20-5-left {padding-left: 20.5rem;}
.pd-30-left {padding-left: 30rem;}
.pd-30-5-left {padding-left: 30.5rem;}
.pd-40-left {padding-left: 40rem;}
.pd-40-5-left {padding-left: 40.5rem;}
.pd-50-left {padding-left: 50rem;}
.pd-50-5-left {padding-left: 50.5rem;}
.pd-60-left {padding-left: 60rem;}
.pd-60-5-left {padding-left: 60.5rem;}
.pd-70-left {padding-left: 70rem;}
.pd-70-5-left {padding-left: 70.5rem;}
.pd-80-left {padding-left: 80rem;}
.pd-80-5-left {padding-left: 80.5rem;}
.pd-90-left {padding-left: 90rem;}
.pd-90-5-left {padding-left: 90.5rem;}
.pd-100-left {padding-left: 100rem;}

/* Padding Derecho */
.pd-0-right {padding-right: 0;}
.pd-05-right {padding-right: 0.5rem;}
.pd-1-right {padding-right: 1rem;}
.pd-2-right {padding-right: 2rem;}
.pd-1-5-right {padding-right: 1.5rem;}
.pd-2-5-right {padding-right: 2.5rem;}
.pd-3-right {padding-right: 3rem;}
.pd-3-5-right {padding-right: 3.5rem;}
.pd-4-right {padding-right: 4rem;}
.pd-4-5-right {padding-right: 4.5rem;}
.pd-5-right {padding-right: 5rem;}
.pd-5-5-right {padding-right: 5.5rem;}
.pd-6-right {padding-right: 6rem;}
.pd-6-5-right {padding-right: 6.5rem;}
.pd-7-right {padding-right: 7rem;}
.pd-7-5-right {padding-right: 7.5rem;}
.pd-8-right {padding-right: 8rem;}
.pd-8-5-right {padding-right: 8.5rem;}
.pd-9-right {padding-right: 9rem;}
.pd-9-5-right {padding-right: 9.5rem;}
.pd-10-right {padding-right: 10rem;}
.pd-10-5-right {padding-right: 10.5rem;}
.pd-11-right {padding-right: 11rem;}
.pd-11-5-right {padding-right: 11.5rem;}
.pd-12-right {padding-right: 12rem;}
.pd-12-5-right {padding-right: 12.5rem;}
.pd-13-right {padding-right: 13rem;}
.pd-13-5-right {padding-right: 13.5rem;}
.pd-14-right {padding-right: 14rem;}
.pd-14-5-right {padding-right: 14.5rem;}
.pd-15-right {padding-right: 15rem;}
.pd-15-5-right {padding-right: 15.5rem;}
.pd-16-right {padding-right: 16rem;}
.pd-16-5-right {padding-right: 16.5rem;}
.pd-17-right {padding-right: 17rem;}
.pd-17-5-right {padding-right: 17.5rem;}
.pd-18-right {padding-right: 18rem;}
.pd-18-5-right {padding-right: 18.5rem;}
.pd-19-right {padding-right: 19rem;}
.pd-19-5-right {padding-right: 19.5rem;}
.pd-20-right {padding-right: 20rem;}
.pd-20-5-right {padding-right: 20.5rem;}
.pd-30-right {padding-right: 30rem;}
.pd-30-5-right {padding-right: 30.5rem;}
.pd-40-right {padding-right: 40rem;}
.pd-40-5-right {padding-right: 40.5rem;}
.pd-50-right {padding-right: 50rem;}
.pd-50-5-right {padding-right: 50.5rem;}
.pd-60-right {padding-right: 60rem;}
.pd-60-5-right {padding-right: 60.5rem;}
.pd-70-right {padding-right: 70rem;}
.pd-70-5-right {padding-right: 70.5rem;}
.pd-80-right {padding-right: 80rem;}
.pd-80-5-right {padding-right: 80.5rem;}
.pd-90-right {padding-right: 90rem;}
.pd-90-5-right {padding-right: 90.5rem;}
.pd-100-right {padding-right: 100rem;}

/* Padding Superior */
.pd-0-top {padding-top: 0;}
.pd-05-top {padding-top: 0.5rem;}
.pd-1-top {padding-top: 1rem;}
.pd-1-5-top {padding-top: 1.5rem;}
.pd-2-top {padding-top: 2rem;}
.pd-2-5-top {padding-top: 2.5rem;}
.pd-3-top {padding-top: 3rem;}
.pd-3-5-top {padding-top: 3.5rem;}
.pd-4-top {padding-top: 4rem;}
.pd-4-5-top {padding-top: 4.5rem;}
.pd-5-top {padding-top: 5rem;}
.pd-5-5-top {padding-top: 5.5rem;}
.pd-6-top {padding-top: 6rem;}
.pd-6-5-top {padding-top: 6.5rem;}
.pd-7-top {padding-top: 7rem;}
.pd-7-5-top {padding-top: 7.5rem;}
.pd-8-top {padding-top: 8rem;}
.pd-8-5-top {padding-top: 8.5rem;}
.pd-9-top {padding-top: 9rem;}
.pd-9-5-top {padding-top: 9.5rem;}
.pd-10-top {padding-top: 10rem;}
.pd-10-5-top {padding-top: 10.5rem;}
.pd-11-top {padding-top: 11rem;}
.pd-11-5-top {padding-top: 11.5rem;}
.pd-12-top {padding-top: 12rem;}
.pd-12-5-top {padding-top: 12.5rem;}
.pd-13-top {padding-top: 13rem;}
.pd-13-5-top {padding-top: 13.5rem;}
.pd-14-top {padding-top: 14rem;}
.pd-14-5-top {padding-top: 14.5rem;}
.pd-15-top {padding-top: 15rem;}
.pd-15-5-top {padding-top: 15.5rem;}
.pd-16-top {padding-top: 16rem;}
.pd-16-5-top {padding-top: 16.5rem;}
.pd-17-top {padding-top: 17rem;}
.pd-17-5-top {padding-top: 17.5rem;}
.pd-18-top {padding-top: 18rem;}
.pd-18-5-top {padding-top: 18.5rem;}
.pd-19-top {padding-top: 19rem;}
.pd-19-5-top {padding-top: 19.5rem;}
.pd-20-top {padding-top: 20rem;}
.pd-20-5-top {padding-top: 20.5rem;}
.pd-30-top {padding-top: 30rem;}
.pd-30-5-top {padding-top: 30.5rem;}
.pd-40-top {padding-top: 40rem;}
.pd-40-5-top {padding-top: 40.5rem;}
.pd-50-top {padding-top: 50rem;}
.pd-50-5-top {padding-top: 50.5rem;}
.pd-60-top {padding-top: 60rem;}
.pd-60-5-top {padding-top: 60.5rem;}
.pd-70-top {padding-top: 70rem;}
.pd-70-5-top {padding-top: 70.5rem;}
.pd-80-top {padding-top: 80rem;}
.pd-80-5-top {padding-top: 80.5rem;}
.pd-90-top {padding-top: 90rem;}
.pd-90-5-top {padding-top: 90.5rem;}
.pd-100-top {padding-top: 100rem;}

/* Padding Inferior */
.pd-0-bottom {padding-bottom: 0;}
.pd-05-bottom {padding-bottom: 0.5rem;}
.pd-1-bottom {padding-bottom: 1rem;}
.pd-1-5-bottom {padding-bottom: 1.5rem;}
.pd-2-bottom {padding-bottom: 2rem;}
.pd-2-5-bottom {padding-bottom: 2.5rem;}
.pd-3-bottom {padding-bottom: 3rem;}
.pd-3-5-bottom {padding-bottom: 3.5rem;}
.pd-4-bottom {padding-bottom: 4rem;}
.pd-4-5-bottom {padding-bottom: 4.5rem;}
.pd-5-bottom {padding-bottom: 5rem;}
.pd-5-5-bottom {padding-bottom: 5.5rem;}
.pd-6-bottom {padding-bottom: 6rem;}
.pd-6-5-bottom {padding-bottom: 6.5rem;}
.pd-7-bottom {padding-bottom: 7rem;}
.pd-7-5-bottom {padding-bottom: 7.5rem;}
.pd-8-bottom {padding-bottom: 8rem;}
.pd-8-5-bottom {padding-bottom: 8.5rem;}
.pd-9-bottom {padding-bottom: 9rem;}
.pd-9-5-bottom {padding-bottom: 9.5rem;}
.pd-10-bottom {padding-bottom: 10rem;}
.pd-10-5-bottom {padding-bottom: 10.5rem;}
.pd-11-bottom {padding-bottom: 11rem;}
.pd-11-5-bottom {padding-bottom: 11.5rem;}
.pd-12-bottom {padding-bottom: 12rem;}
.pd-12-5-bottom {padding-bottom: 12.5rem;}
.pd-13-bottom {padding-bottom: 13rem;}
.pd-13-5-bottom {padding-bottom: 13.5rem;}
.pd-14-bottom {padding-bottom: 14rem;}
.pd-14-5-bottom {padding-bottom: 14.5rem;}
.pd-15-bottom {padding-bottom: 15rem;}
.pd-15-5-bottom {padding-bottom: 15.5rem;}
.pd-16-bottom {padding-bottom: 16rem;}
.pd-16-5-bottom {padding-bottom: 16.5rem;}
.pd-17-bottom {padding-bottom: 17rem;}
.pd-17-5-bottom {padding-bottom: 17.5rem;}
.pd-18-bottom {padding-bottom: 18rem;}
.pd-18-5-bottom {padding-bottom: 18.5rem;}
.pd-19-bottom {padding-bottom: 19rem;}
.pd-19-5-bottom {padding-bottom: 19.5rem;}
.pd-20-bottom {padding-bottom: 20rem;}
.pd-20-5-bottom {padding-bottom: 20.5rem;}
.pd-30-bottom {padding-bottom: 30rem;}
.pd-30-5-bottom {padding-bottom: 30.5rem;}
.pd-40-bottom {padding-bottom: 40rem;}
.pd-40-5-bottom {padding-bottom: 40.5rem;}
.pd-50-bottom {padding-bottom: 50rem;}
.pd-50-5-bottom {padding-bottom: 50.5rem;}
.pd-60-bottom {padding-bottom: 60rem;}
.pd-60-5-bottom {padding-bottom: 60.5rem;}
.pd-70-bottom {padding-bottom: 70rem;}
.pd-70-5-bottom {padding-bottom: 70.5rem;}
.pd-80-bottom {padding-bottom: 80rem;}
.pd-80-5-bottom {padding-bottom: 80.5rem;}
.pd-90-bottom {padding-bottom: 90rem;}
.pd-90-5-bottom {padding-bottom: 90.5rem;}
.pd-100-bottom {padding-bottom: 100rem;}
