/* width */
.width-1 {width: 1rem;}
.width-1-5 {width: 1.5rem;}
.width-2 {width: 2rem;}
.width-2-5 {width: 2.5rem;}
.width-3 {width: 3rem;}
.width-3-5 {width: 3.5rem;}
.width-4 {width: 4rem;}
.width-4-5 {width: 4.5rem;}
.width-5 {width: 5rem;}
.width-5-5 {width: 5.5rem;}
.width-6 {width: 6rem;}
.width-6-5 {width: 6.5rem;}
.width-7 {width: 7rem;}
.width-7-5 {width: 7.5rem;}
.width-8 {width: 8rem;}
.width-8-5 {width: 8.5rem;}
.width-9 {width: 9rem;}
.width-9-5 {width: 9.5rem;}
.width-10 {width: 10rem;}
.width-10-5 {width: 10.5rem;}
.width-11 {width: 11rem;}
.width-11-5 {width: 11.5rem;}
.width-12 {width: 12rem;}
.width-12-5 {width: 12.5rem;}
.width-13 {width: 13rem;}
.width-13-5 {width: 13.5rem;}
.width-14 {width: 14rem;}
.width-14-5 {width: 14.5rem;}
.width-15 {width: 15rem;}
.width-15-5 {width: 15.5rem;}
.width-16 {width: 16rem;}
.width-16-5 {width: 16.5rem;}
.width-17 {width: 17rem;}
.width-17-5 {width: 17.5rem;}
.width-18 {width: 18rem;}
.width-18-5 {width: 18.5rem;}
.width-19 {width: 19rem;}
.width-19-5 {width: 19.5rem;}
.width-20 {width: 20rem;}
.width-20-5 {width: 20.5rem;}
.width-30 {width: 30rem;}
.width-30-5 {width: 30.5rem;}
.width-40 {width: 40rem;}
.width-40-5 {width: 40.5rem;}
.width-50 {width: 50rem;}
.width-50-5 {width: 50.5rem;}
.width-60 {width: 60rem;}
.width-60-5 {width: 60.5rem;}
.width-70 {width: 70rem;}
.width-70-5 {width: 70.5rem;}
.width-80 {width: 80rem;}
.width-80-5 {width: 80.5rem;}
.width-90 {width: 90rem;}
.width-90-5 {width: 90.5rem;}
.width-100 {width: 100rem;}

/* Width en % */
.wd-1o {width: 1%;}
.wd-2o {width: 2%;}
.wd-3o {width: 3%;}
.wd-4o {width: 4%;}
.wd-5o {width: 5%;}
.wd-6o {width: 6%;}
.wd-7o {width: 7%;}
.wd-8o {width: 8%;}
.wd-9o {width: 9%;}
.wd-10o {width: 10%;}
.wd-11o {width: 11%;}
.wd-12o {width: 12%;}
.wd-13o {width: 13%;}
.wd-14o {width: 14%;}
.wd-15o {width: 15%;}
.wd-16o {width: 16%;}
.wd-17o {width: 17%;}
.wd-18o {width: 18%;}
.wd-19o {width: 19%;}
.wd-20o {width: 20%;}
.wd-21o {width: 21%;}
.wd-22o {width: 22%;}
.wd-23o {width: 23%;}
.wd-24o {width: 24%;}
.wd-25o {width: 25%;}
.wd-27o {width: 27%;}
.wd-28o {width: 28%;}
.wd-29o {width: 29%;}
.wd-20o {width: 20%;}
.wd-21o {width: 21%;}
.wd-22o {width: 22%;}
.wd-23o {width: 23%;}
.wd-24o {width: 24%;}
.wd-25o {width: 25%;}
.wd-27o {width: 27%;}
.wd-28o {width: 28%;}
.wd-29o {width: 29%;}
.wd-30o {width: 30%;}
.wd-31o {width: 31%;}
.wd-32o {width: 22%;}
.wd-33o {width: 33%;}
.wd-34o {width: 34%;}
.wd-35o {width: 35%;}
.wd-37o {width: 37%;}
.wd-38o {width: 38%;}
.wd-39o {width: 39%;}
.wd-40o {width: 40%;}
.wd-41o {width: 41%;}
.wd-42o {width: 42%;}
.wd-43o {width: 43%;}
.wd-44o {width: 44%;}
.wd-45o {width: 45%;}
.wd-47o {width: 47%;}
.wd-48o {width: 48%;}
.wd-49o {width: 49%;}
.wd-50o {width: 50%;}
.wd-51o {width: 51%;}
.wd-52o {width: 52%;}
.wd-53o {width: 53%;}
.wd-54o {width: 54%;}
.wd-55o {width: 55%;}
.wd-57o {width: 57%;}
.wd-58o {width: 58%;}
.wd-59o {width: 59%;}
.wd-60o {width: 60%;}
.wd-61o {width: 61%;}
.wd-62o {width: 62%;}
.wd-63o {width: 63%;}
.wd-64o {width: 64%;}
.wd-65o {width: 65%;}
.wd-67o {width: 67%;}
.wd-68o {width: 68%;}
.wd-69o {width: 69%;}
.wd-70o {width: 70%;}
.wd-71o {width: 71%;}
.wd-72o {width: 72%;}
.wd-73o {width: 73%;}
.wd-74o {width: 74%;}
.wd-75o {width: 75%;}
.wd-77o {width: 77%;}
.wd-78o {width: 78%;}
.wd-79o {width: 79%;}
.wd-80o {width: 80%;}
.wd-81o {width: 81%;}
.wd-82o {width: 82%;}
.wd-83o {width: 83%;}
.wd-84o {width: 84%;}
.wd-85o {width: 85%;}
.wd-87o {width: 87%;}
.wd-88o {width: 88%;}
.wd-89o {width: 89%;}
.wd-90o {width: 90%;}
.wd-91o {width: 91%;}
.wd-92o {width: 92%;}
.wd-93o {width: 93%;}
.wd-94o {width: 94%;}
.wd-95o {width: 95%;}
.wd-97o {width: 97%;}
.wd-98o {width: 98%;}
.wd-99o {width: 99%;}
.wd-100o {width: 100%;}


