$color-bg1: rgb(235,242,248);
$color-bg2: #000;

$font-peq1: 0.8rem;
$font-peq2: 1.2rem;
$font-peq3: 1.5rem;
$font-peq4: 2rem;
$font-peq5: 3rem;
$font-peq6: 1.1rem;
$font-peq7: 1rem;

$line-h1: 1.5;
$line-h2: 1.7;



p.descripcion {
	color: $color-bg1;
	font-size: $font-peq6;
}

p {
	font-size: $font-peq4;
}

p.foo1 {
	font-size: $font-peq2;
}
p.foo2 {
	font-size: $font-peq7;
}
p.foo3 {
	font-size: $font-peq2;
}

p.lineh-p {
	line-height: $line-h1;
	font-size: $font-peq7;
}

p.lineh-p2 {
	line-height: $line-h2;
	font-size: $font-peq4;
}

body {
	background-color: $color-bg2;
	color: #fff;
}